[submodule "themes/sam"]
	path = themes/sam
	url = https://github.com/vickylai/hugo-theme-sam.git
[submodule "public"]
	path = public
	url = https://github.com/prashantbaid/prashantbaid.github.io.git
	branch = master
